@import "../../../variables";

main {
    position: relative;
    min-height: 100vh;
    background-color: $background;
    padding: 4em 15em 0 4em;
}

time {
    color: $textSecondary;
    font-size: 0.8em;
    margin: 0;
}

ul {
    padding-top: 1em;
    border-bottom: 2px solid $accentSecondary;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    
    a {
        color: $textSecondary;
        font-weight: 500;
        padding-inline: 1em;
        
        &.active {
            color: #F3F3F3;
            border-image: linear-gradient(90deg, #563EEE 0%, #5C7AE5 100%);
            border-width: 0 0 3px 0;
            border-image-slice: 9;
            border-style: solid;
        }
    }
}

.form-body {
    border: 1px solid $accentSecondary;
    border-radius: 8px;
    padding: 1em 2em;
    margin: 3em 0 0 0;
}

.form-header {
    font-size: 1em;
    padding-bottom: 1em;
}

.form-item {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.5em;
    margin-bottom: 1.5em;
}

.form-label {
    font-size: 0.8em;
}

.form-action {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    margin-block: 2em;
}

.form-input {
    border: none;
    outline: 1px solid $accentSecondary;
    border-radius: 6px;
    background-color: $background;
    color: $textPrimary;
    padding: 0.8em;
    font-family: Roboto, Poppins, sans-serif;

    &:focus {
        outline: 1px solid $accentPrimary;
    }
}

.form-select {
    border: none;
    outline: none;
    border-bottom: 1px solid $accentSecondary;
    border-radius: 6px;
    background-color: $background;
    color: $textPrimary;
    padding: 0.8em;
    font-family: Roboto, Poppins, sans-serif;

    &:focus {
        border-bottom: 1px solid $accentPrimary;
    }
}

.btn {
    cursor: pointer;
    font-weight: 500;
    padding-block: 0.8em;
    border: none;
    border-radius: 4px;
}

.primary-btn {
    color: $textPrimary;
    background-color: $background;
    border: 2px solid $accentSecondary;
    padding-inline: 2em;
}

.secondary-btn {
    color: $background;
    background-color: $buttonBgReverse;
    padding-inline: 1.5em;
}

.secondary-text {
    color: $textSecondary;
    font-size: 0.8em;
}

.no-space {
    padding: 0;
    margin: 0;
}

.mt-2 {
    margin-top: 2em;
}

.link {
    cursor: pointer;
    width: max-content;
    display: flex;
    align-items: center;
    gap: 0.5em;
    margin-block: 1em;

    &:hover {
        border-bottom: 1px solid $accentPrimary;
    }

    .link-text {
        color: $accentPrimary;
        font-size: 0.9em;
    }
}

