@import "../../../variables";

.password-container {
    width: 100%;
    border: 1px solid $accentSecondary;
    border-radius: 6px;
    padding-right: 1em;
    display: grid;
    grid-template-columns: 1fr auto;

    &:focus-within {
        border: 1px solid $accentPrimary;
    }

    img {
        width: 1.5em; 
        cursor: pointer; 
        justify-self: center;
        align-self: center;
    }

    .password-input {
        border: none;
        outline: 1px solid $accentSecondary;
        border-radius: 6px;
        background-color: $background;
        color: $textPrimary;
        padding: 0.8em;
        font-family: Roboto, Poppins, sans-serif;

        &:focus {
            outline: 1px solid $accentPrimary;
        }
    }
}